body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100vh; /* Full height for background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(198, 96, 96); /* Ensure text is readable */
}

.capital {
    color: #ffffff; /* White color for text */
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better visibility */
}

.content-box {
    background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%; /* Adjust width for smaller screens */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

h2 {
    margin-bottom: 15px;
    color: #ffcc00; /* Optional highlight color for the title */
}

.w3-select {
    margin-bottom: 15px;
}

footer {
    color: #350a2f;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d7d6b2;
    text-align: center;
    padding: 2px;
  }
  